@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
body * {
    font-family: 'Baloo 2', cursive;
    margin: 0px;
    padding: 0px;
}
.wrap {
    display: flex;
    position: absolute;
    background: #a18162;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
form {
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #000;
    background: #fff;
    width: 600px;
    padding: 1rem;
}
fieldset, .form__item {
    display: flex;
    border: 0px;
}
legend {
    font-weight: 900;
    font-size: 1.2rem;
}
.warning-title {
    font-weight: 100;
    font-size: 0.7rem;
    color: #ff0000;
}
hr {
    border: 1px solid #000;
}
label {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    max-width: 400px;
    font-weight: 100;
    font-size: 0.7rem;
    padding: 16px 10px;
}
label>span {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    max-width: 128px;
    margin: 2px 0px;
    font-size: 1.2em;
}
fieldset input, fieldset textarea,
[type="submit"] {
    border: 1px solid #696969;
    border-radius: 4px;
    padding: 6px;
}
input {
    flex: 2;
    margin: 2px 0px;
    max-width: 200px;
}
textarea {
    padding: 4px;
    height: 80px;
    width: 60%;
}
[type="submit"] {
    font-weight: 900;
    font-size: 0.7rem;
    margin-left: 10%;
    padding: 4px 26px;
    cursor: pointer;
}
.warning-field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 130px;
    height: 28px;
    margin: auto;
    padding: 0px 10px;
    text-align: center;
    background: #eb7a6c;
    color: #fff;
}
.warning-field:after {
    position: absolute;
    content: '';
    height: 0px;
    width: 0px;
    right: 100%;
    top: 50%;
    border: 1px solid transparent;
    border-right-color: #eb7a6c;
    border-width: 6px;
    margin-top: -6px;
}