.list {
    padding-right: 24px;
}
.list__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 282px;
    max-height: calc(100vh - 174px);
    padding: 12px;
    padding-right: 0px;
    color: #000;
    background: #EBECF0;
    border-radius: 10px;
}
.list__header, .list__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}
.list__header {
    padding-bottom: 12px;
}
.list__header__inner {
    padding-right: 12px;
}
.list__header span, .list__footer span{
    text-align: left;
}
.more {
    padding-right: 12px;
}
.more-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.more-svg:hover {
    background: #CBCBCB;
}
.list__container {
    height: 100%;
    width: calc(100% - 12px);
    padding-right: 12px;
    overflow-y: auto;
}
.button_list-item {
    padding-bottom: 15px;
}
.button_list-item__inner {
    line-height: 21px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    cursor: pointer;
    padding: 7px 8px;
    transition: 0.2s;
}
.button_list-item__inner:hover {
    background: #d8d8d8;
}
.list__footer {
    justify-content: center;
    color: #5E6C84;
    width: 100%;
    transition: 0.2s;
}
.list__footer:hover {
    padding-left: 10px;
}